#nl_info{
    padding-top: 5%;
}

#nl_pics{
    padding: 4%;
}

#nl_mainPic{
    margin-bottom: 10%;
}

.pic{
    text-align: center;
    color: blue;
    border-image: rgb(0, 0, 0);
}

img:hover{
    border-image: red;
}