#listingsRow {
  /* padding: 1%; */
  /* padding-top: 2%; */
}

#fullListing {
  margin: 5%;
}

.blue {
  /* color: #17A2B8;  */
  border-color: #17a2b8;
}

.p-1 {
  padding-top: 0.2rem !important;
}

/* .userIcon {
  right: 4%;
} */
