#picdiv, #title, #descr{
    margin: 2%;
}

#title{
    margin-top: 4%;
}

/* #descr{
    height: 100px;
} */

#simpleListing{
    padding: 0.5%;
}

#innerListing:hover{
    background-color: #f8f9fa;
    cursor: pointer;
}