.dropdown-menu li a:hover {
  color: #17a2b8;
  text-decoration: none;
  background-color: #f5f5f5;
}

.dropdown-menu li a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: 400;
  line-height: 1.5;
  color: #333;
  white-space: nowrap;
  min-width: 7.8rem;
}

.link {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: 400;
  line-height: 1.5;
  color: #333;
  white-space: nowrap;
  min-width: 7.8rem;
}
